/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
body{
  font-family: "Poppins","sans-serif";
}
.navbar{
  display: flex;
  background-color: #000000;
  color: white;
  justify-content: space-between;
  margin: -8px -8px;
  height:85px;
}
.list{
  display: flex;
  list-style-type: none;
  
}
.navbar div img{
  width:79px;
  margin-top: 27px;
  margin-left: 73px;

}
.line{
  background-color: white;
  width: 0.6px;
  height: 45px;
  margin-top: 17.5px;
  margin-left: -110px;
}
.grow-list{
  width: 600px;
  margin-left: -175px;
}
.list-item{
  font-size: 13.5px;
  margin-top: 15px;
  margin-left: 17px;
  margin-right:40px;
  font-weight: 450;
}
.button-small{
  cursor: pointer;
  background-color: rgb(180, 1, 180);
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 23px;
margin-right: 100px;
font-weight: 600;

}
.hero{
  background-image: url(./assets/bg.png);
  background-position:center;
  background-size: 100% 100%;
  height:800px;
  margin-top: -60px;
  margin-bottom:-8px;
  margin-left: -8px;
  margin-right: -8px;
}
.hero-heading{
  text-align: center;
  padding-top: 150px;
  font-size: 67px;
  color: white;
  font-weight: 600;
  margin-left: 160px;
  margin-right: 165px;
  line-height: 80px;
}
.hero-description{
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-top: -50px;
}
.button-large{
  color: white;
  background-color: rgb(180, 1, 180);
  border: 0px;
  font-size: 25px;
  padding: 12px 20px 12px 20px;
  text-align: center;
  border-radius: 10px;
  margin-left: 470px;
  font-weight: 600;
  margin-top: 22px;
  cursor: pointer;
  font-family: "Poppins","sans-serif";
}
.list-item img{
  width: 1px;
  height: 1px;
}